<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__home">
          <div class="header__logo-wrapper">
            <p class="header__logo-text">
              fotoprokat <span class="header__logo-number">24</span>
            </p>
          </div>
          <div class="header__link-wrapper">
            <a href="#">Каталог</a>
            <a href="#">О компании</a>
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
          </div>
          <div class="header_serch-wrapper">
            <div class="header__input-serch-wrapper">
              <img src="../icon/header__icon-serch.svg" alt="serch-glass" />
              <input class="header__serch" type="search" placeholder="Поиск" />
            </div>
            <a class="header__login" href="#">войти</a>
          </div>
          <div class="header__icons">
            <div class="header__icon-star-wrapper header__icon-position">
              <img src="../icon/header__icon-star.svg" alt="star" />
              <span class="header__icon-number">5</span>
            </div>
            <div class="header__icon-compare-wrapper header__icon-position">
              <img src="../icon/header__icon-compare.svg" alt="compare" />
              <span class="header__icon-number">3</span>
            </div>
            <div class="header__icon-shopping-wrapper header__icon-position">
              <img
                src="../icon/header__icon-shopping-cart.svg"
                alt="shopping"
              />
              <span class="header__icon-number">3</span>
            </div>
          </div>
          <a class="header__icon-link-bars" href="#">
            <i class="fa-solid fa-bars header__icon-bars"></i
          ></a>
        </div>
      </div>
    </header>
    <div class="line"></div>
  </body>
</html>
