body{
    margin: 0 ;
    padding: 0;
}
*{
    list-style: none;
    color: rgb(4, 4, 4);
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}
button{
    cursor: pointer;
}
input{
    cursor: pointer;
}
h1{
    margin: 0;
}
header{
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}
.container{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
}
.header-list__wrapper span{
    color: rgb(62, 200, 47);
    font-weight: bold;
}
.header-list__wrapper h1{
    font-size: 25px;
    font-weight: bold;
}
.header-list__wrapper,
ul{
    display: flex;
    gap: 30px;
    font-weight: bold;
    align-items: center;
    font-size: 17px;
}
.header-list__wrapper a{
    transition: 0.3s;
}
.header-list__wrapper a:hover{
    color: #8EE902;
}
.header-search a{
    transition: 0.3s;
}
.header-search a:hover{
    color: #8EE902;
}
.header-search{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 20px;
}
.search__wprapper{
    width: 230px;
    border: 1px solid rgb(176, 175, 175);
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    background: rgb(244, 242, 242);
}
.search__wprapper:hover{
    border-color: black;
}
.fa-magnifying-glass{
    opacity: 50%;
    font-weight: 500;
}
.search__wprapper input{
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
}
.header-top-icons{
    display: flex;
    align-items: center;
}
.header-top-icons{
    display: flex;
    gap: 10px;
}