body {
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
  color: rgb(4, 4, 4);
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

h1 {
  margin: 0;
}

header {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header-list__wrapper span {
  color: #6beb30;
  opacity: 100%;
  font-weight: bold;
}

.header-list__wrapper h1 {
  font-size: 25px;
  font-weight: bold;
}

.header-list__wrapper,
ul {
  display: flex;
  gap: 30px;
  font-weight: bold;
  align-items: center;
  font-size: 17px;
}

.header-list__wrapper a {
  transition: 0.3s;
}

.header-list__wrapper a:hover {
  color: #6beb30;
}
.header-top-icons{
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.header-icons-box{
    padding: 17px 20px;
    border: 1px solid #d2d2d2;
    opacity: 70%;
    border-top: 0;
    border-bottom: 0;
}
.header-icons-box:hover{
    opacity: 100%;
}
.header-icons-box>.fa-arrow-right-from-bracket:hover{
    color: red;
}