* {
  list-style: none;
  color: rgb(4, 4, 4);
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

header {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header-list__wrapper span {
  color: rgb(62, 200, 47);
  font-weight: bold;
}

.header-list__wrapper h1 {
  font-size: 25px;
  font-weight: bold;
}

.header-list__wrapper,
ul {
  display: flex;
  gap: 30px;
  font-weight: bold;
  align-items: center;
  font-size: 17px;
}

.header-search {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 20px;
}

.search__wprapper {
  width: 230px;
  border: 1px solid rgb(176, 175, 175);
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  background: rgb(244, 242, 242);
}

.search__wprapper:hover {
  border-color: black;
}

.fa-magnifying-glass {
  opacity: 50%;
  font-weight: 500;
}

.search__wprapper input {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
}

.header-top-icons {
  display: flex;
  align-items: center;
}

.header-top-icons {
  display: flex;
  gap: 10px;
}

.home-page {
  display: flex;
}

footer {
  margin-top: 150px;
  padding: 15px 0;
  background: rgb(86, 86, 86);
}

.footer__wrapper {
  display: flex;
}

.footer-search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 17px;
}

.email-link {
  display: flex;
  flex-direction: column;
}

.email-link span {
  color: #fff;
}

.fa-envelope-open-text {
  font-size: 38px;
  color: rgb(96, 176, 33);
}

.search-title a {
  color: rgb(96, 176, 33);
  margin-bottom: 7px;
  text-decoration: underline;
}

.search-input__wrapper {
  background: #fff;
  height: 45px;
}

.search-input__wrapper input {
  width: 400px;
  border: 0;
  padding-left: 10px;
  outline: none;
}

.search-input__wrapper button {
  padding: 10px 5px;
  height: 100%;
  border: 0;
  background: #bcbcbc;
}

.contact {
  display: flex;
  gap: 10px;
  align-items: center;
}

.fa-phone {
  color: #4f9c2c;
  font-size: 27px;
}

.contact a {
  text-decoration: underline;
  font-size: 17px;
  color: #4f9c2c;
}

.footer-list__wrapper {
  margin-top: 50px;
}

.logo h1 {
  font-weight: 900;
}

.logo span {
  color: #8ee902;
  font-weight: bold;
}

.logo-text {
  width: 320px;
  font-size: 14px;
  font-weight: 500;
}

.logo-text p span {
  opacity: 50%;
}

.list__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.list-menu {
  display: flex;
  gap: 50px;
}

.about-list h1 {
  font-size: 17px;
  margin-bottom: 5px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-list a {
  opacity: 60%;
}

main {
  margin: 0px 14.2%;
}

.title-korzina {
  width: 120px;
  height: 17px;
  top: 131px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
}
.title-korzina p {
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16.09px;
  text-align: left;
  color: #75758a;
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
section .date {
  width: 530px;
  height: 75px;
  top: 240px;
  left: 135px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d2d2d2;
}
section .date div {
  padding: 10px;
}

table {
  margin-top: 5%;
  width: 100%;
  border: 1px solid #e3e3e3;
  padding: 10px;
}

.table_header td {
  color: #75758a;
}

.for_bonus {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  margin-top: 0;
}
.for_bonus p {
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
.for_bonus button {
  width: 240px;
  height: 40px;
  border-radius: 100px;
  margin: 1% auto;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
  background: white;
}
.for_bonus input {
  margin: 1% auto;
  width: 240px;
  height: 40px;
  top: 661px;
  border-radius: 100px;
  border: 1px;
  opacity: 0px;
  background: #f5f5f5;
  text-align: center;
}

.for_zakaz {
  background: linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);
  color: #ffffff;
  width: 240px;
  height: 40px;
  border-radius: 100px;
  border: none;
  align-items: center;
  margin: 5% auto;
}

.res {
  margin: 0px;
}

.main_last_section {
  position: absolute;
  width: 302px;
  height: 88px;
  top: 733px;
  left: 895px;
  gap: 0px;
  opacity: 0px;
}
.main_last_section hr {
  margin-left: 35px;
  width: 134px;
  height: 2px;
  background: linear-gradient(270deg, #8ee901 0%, #4f9c2c 99.06%);
}
.main_last_section strong {
  font-family: Ubuntu;
  font-size: 25px;
  line-height: 34.47px;
}/*# sourceMappingURL=style.css.map */