.header__home {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;

  padding: 28px 0 32px 0;
}

.header__logo-text {
  display: flex;
  gap: 7px;
  @include textstayle(21px, 800, Montserrat, #000);
}

.header__logo-number {
  color: #8ce901;
}

.header__link-wrapper {
  display: flex;
  gap: 22px;
  a {
    @include textstayle(14px, 900, Ubuntu, #000);
    text-decoration: none;
  }
}

.header_serch-wrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}

.header__input-serch-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  img {
    position: absolute;
    left: 10px;
  }
}

.header__serch {
  background-color: #f7f7f7;
  border: none;
  border-top: 2px solid rgb(162, 162, 162);
  border-radius: 20px;
  outline: none;
  padding: 10px 20px 10px 35px;
  @include textstayle(14px, 600, Ubuntu, #3c3c3c);
}

.header__login {
  @include textstayle(14px, 900, Ubuntu, #000);
  text-decoration: none;
}
.header__icons {
  display: flex;
  gap: 20px;
}
.header__icon-position {
  position: relative;
}
.header__icon-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #3c3c3c;
  @include textstayle(12px, 400, Ubuntu, #fff);
  position: absolute;
  top: -10px;
  left: 10px;
}
.header__icon-bars {
  font-size: 25px;
}

.header__icon-link-bars {
  display: none;
  color: #000;
}
