@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  border: 1px solid #efefef;
}

li {
  list-style: none;
}

.header__home {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 32px 0;
}

.header__logo-text {
  display: flex;
  gap: 7px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 21px;
  color: #000;
}

.header__logo-number {
  color: #8ce901;
}

.header__link-wrapper {
  display: flex;
  gap: 22px;
}
.header__link-wrapper a {
  font-family: Ubuntu;
  font-weight: 900;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.header_serch-wrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}

.header__input-serch-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.header__input-serch-wrapper img {
  position: absolute;
  left: 10px;
}

.header__serch {
  background-color: #f7f7f7;
  border: none;
  border-top: 2px solid rgb(162, 162, 162);
  border-radius: 20px;
  outline: none;
  padding: 10px 20px 10px 35px;
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 14px;
  color: #3c3c3c;
}

.header__login {
  font-family: Ubuntu;
  font-weight: 900;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.header__icons {
  display: flex;
  gap: 20px;
}

.header__icon-position {
  position: relative;
}

.header__icon-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #3c3c3c;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: -10px;
  left: 10px;
}

.header__icon-bars {
  font-size: 25px;
}

.header__icon-link-bars {
  display: none;
  color: #000;
}

@media screen and (max-width: 990px) {
  .header__link-wrapper {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .header__input-serch-wrapper,
  .header__login {
    display: none;
  }
  .header__icon-link-bars {
    display: block;
  }
}
.main__title-home {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding: 45px 0;
}

.main__title-text {
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
}

.main__title h2 {
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 30px;
  color: #8ee901;
}
.main__title h3 {
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 30px;
  color: #000;
}

.main__products-home {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.main__products-wrapper {
  display: flex;
  gap: 19px;
}
.main__products-wrapper a {
  text-decoration: none;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
}
.main__products-wrapper a:hover {
  color: #60b021;
}

.main__products-hidden {
  display: flex;
  align-items: center;
  gap: 13px;
}

.main__products-hidden-text {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

#run {
  display: none;
}

.main__products-hidden-check-wrapper {
  width: 32px;
  height: 18.76px;
  background: linear-gradient(270deg, #8ee901 0%, #4f9c2c 99.06%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 3px;
}

#run:checked + .main__products-hidden-check-wrapper {
  justify-content: flex-start;
}

.main__products-hidden-box {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
}

.main__camera-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 14px 0 11px 0;
}

.main__camera-models {
  display: flex;
  flex-direction: column;
  gap: 74px;
  align-items: flex-start;
  justify-content: space-between;
}

.main__camera-delete-wrapper {
  display: flex;
  gap: 8px;
}

.main__camera-delete {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.main__camera-name-text {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #75758a;
}

.main__cameras-name-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__img-exit {
  position: absolute;
  left: 107px;
  top: 0;
}

.main__cameras-name-wrapper img:nth-child(2) {
  width: 100px;
}

.main__camera-about {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.main__camera-name {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #75758a;
}

.price__home {
  padding: 10px 0 10px 0;
}

.price__table-wrapper {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.price__money {
  border: none;
}
.price__money td {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #60b021;
  line-height: 32px;
}

table,
tr,
tbody {
  border-collapse: collapse;
  border-bottom: 1px solid #efefef;
  line-height: 28px;
}

.price__money-title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  color: #000 !important;
  padding: 10px 0;
}

td {
  padding: 10px 0;
}

.teble__hover:hover {
  background: linear-gradient(270deg, rgba(247, 247, 247, 0.5) 0%, #f7f7f7 93.23%);
}

.price__money td:nth-child(1),
.teble__hover td:nth-child(1) {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #75758a;
}

table {
  min-width: 900px;
  width: 100%;
}

.price__button-wrapper {
  display: flex;
  padding: 42px 0 90px 0;
  justify-content: center;
}

.price__all {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 12px 26px;
  background-color: #fff;
  cursor: pointer;
}

.price__all:active {
  transform: scale(0.98);
}

.main__table-wrapper {
  overflow-x: auto;
}

@media screen and (max-width: 500px) {
  .main__title-home {
    padding: 20px 0;
    gap: 15px;
  }
}
@media screen and (max-width: 690px) {
  .main__products-wrapper {
    display: none;
  }
  .price__button-wrapper {
    padding: 30px 0 30px 0;
  }
}
.header__login-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6862745098);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.header__login-form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 450px;
  width: 100%;
  padding: 46px 30px 30px 30px;
  border-radius: 15px;
  gap: 17px;
  background-color: #ffffff;
}

.header__login-title {
  width: 100%;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}

.header__login-input,
.header__login-password {
  width: 100%;
  border-radius: 100px;
  border: 1px solid #e3e3e3;
  padding: 12px 20px;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  outline: none;
}

.header__login-password-know {
  text-decoration: underline;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #60b021;
}

.header__login-checkbox-wrapper {
  display: flex;
  gap: 14px;
}

.header__login-checkbox-text {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.header__login-enter-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header__login-submit,
.header__login-submit-entered {
  max-width: 200px;
  width: 100%;
  padding: 17px;
  border: none;
  background: linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);
  border-radius: 100px;
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.header__login-submit:hover {
  background: linear-gradient(180deg, #72bd01 0%, #368611 100%);
}

.header__login-submit:active,
.header__login-submit-entered:active {
  transform: scale(0.98);
}

.header__login-submit-entered:hover {
  background: linear-gradient(180deg, #72bd01 0%, #368611 100%);
  color: #fff;
}

.header__login-submit-entered {
  background: transparent;
  color: #000;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
}

.header__login-img-cross {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

#blok {
  display: none;
}

#blok:checked + .header__login-wrapper {
  display: flex;
}

.footer {
  background-color: #f5f5f5;
}

.footer__message {
  background-color: #515668;
  padding: 16px 0;
}

.footer__message-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.footer__message-icon-wrapper {
  display: flex;
  gap: 10px;
}

.footer__message-text {
  max-width: 153px;
  width: 100%;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}

.footer__message-serch-email {
  max-width: 475px;
  width: 100%;
  display: flex;
  position: relative;
}

.footer__input-serch {
  max-width: 475px;
  width: 100%;
  padding: 12px 150px 12px 20px;
  border: none;
  outline: none;
  border-radius: 100px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
}

.footer__button-like {
  height: 100%;
  padding: 12px 30px;
  position: absolute;
  right: -1px;
  border-radius: 0 100px 100px 0;
  border: none;
  background-color: green;
  cursor: pointer;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.footer__message-phone {
  display: flex;
  gap: 10px;
}

.footer__text-phone-call {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer__list li {
  list-style: none;
  line-height: 25px;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
}

.footer__list-wrappper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.footer__list-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__logo-text {
  display: flex;
  gap: 7px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 21px;
  color: #000;
}

.footer__logo-number {
  color: #8ce901;
}

.footer__list-logo-text {
  max-width: 280px;
  width: 100%;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  line-height: 20px;
}

.footer__list-icon {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .footer__message-serch-email {
    display: none;
  }
  .footer__list-wrappper {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 420px) {
  .footer__message-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .footer__message-phone {
    padding: 0 0 0 10px;
  }
}/*# sourceMappingURL=stayle.css.map */